{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"extends": [
		"react-app",
		"react-app/jest",
		"bluedrop",
		"bluedrop/config/react",
		"plugin:storybook/recommended"
	],
	"rules": {
		"import/no-unassigned-import": ["warn", { "allow": ["**/*.css"] }],
		/**
		 * If you are using eslint-plugin-react, the react/jsx-uses-react and react/react-in-jsx-scope
		 * rules are no longer necessary and can be turned off or removed.
		 *
		 * Read more: https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#eslint
		 */
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off"
	},
	"overrides": [
		{
			"files": ["src/**"],
			"rules": {
				"jsx-a11y/accessible-emoji": "warn"
			}
		},
		{
			"files": [".storybook/public/mockServiceWorker.js"],
			"rules": {
				"eslint-comments/disable-enable-pair": "off",
				"eslint-comments/no-unlimited-disable": "off"
			}
		},
		{
			"files": ["src/setupTests.js"],
			"rules": {
				"filenames/match-regex": "off",
				"import/no-unassigned-import": "off"
			}
		},
		{
			"files": ["**/*.stories.*", "**/*.test.js", ".storybook/**", "test/**"],
			"rules": {
				"import/no-anonymous-default-export": "off",
				"react/no-multi-comp": "off",
				"react/prop-types": "off",
				"react/display-name": "off"
			}
		},
		{
			"files": ["**/__response__/*", "**/__data__/*"],
			"rules": {
				"import/no-anonymous-default-export": "off",
				"max-len": "off",
				"camelcase": "off"
			}
		},
		{
			"files": ["src/**/*.gql"],
			"parserOptions": {
				"schema": "src/schema.graphql",
				"operations": "src/**/*.gql"
			},
			"extends": "plugin:@graphql-eslint/operations-recommended"
		}
	]
}
